Source: node-proto-list
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Abhiram Haridas <abhiramharidas@disroot.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-tap <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-proto-list
Vcs-Git: https://salsa.debian.org/js-team/node-proto-list.git
Homepage: https://github.com/isaacs/proto-list
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-proto-list
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: utility for managing a prototype chain
 A list of objects, bound by their prototype chain. Used in npm's
 configuration. This is a dependency of npm, Node Package Manager.
 .
 Node.js is an event-based server-side JavaScript engine.
